<div ng-controller="category">
    <div class="panel panel-primary clear clearfix">

        <!--HEADER-STARTS------------->
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left">Category</h4>
            <a class="btn btn-primary pull-right title-button" type="submit" href="javascript:void(0)" id="add-Category" ng-click="openAddCategoryForm()"><span class="glyphicon glyphicon-plus-sign"></span>Add Category</a>
        </div>

        <div class="gridStyle" ng-grid="gridOptions">
        </div>
        <!--<div class="selectedItems">{{mySelections}}</div>-->
    </div>
    <div class="add-edit-main" id="add-edit-main" style="display:none">
        <div class="add-content">
            <div class="page-header">
                <h1>Add Category</h1>
            </div>
            <div class="panel panel-primary panel-form clearfix">
                <div class="clearfix">
                    <p class="mandatory-fields"><span class="mandatory">*</span> - Indicates a required field</p>
                    <form id="addCategoryForm" novalidate="novalidate" ng-submit="insertCategory()">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="row">

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="Categoryname">Category Name: <span class="mandatory">*</span></label>
                                            <input name="txtNewCategoryName"
                                                   id="txtNewCategoryName"
                                                   type="text"
                                                   class="form-control"
                                                   ng-model="currentCategoryDetails.CategoryName"
                                                   required
                                                   maxlength="100"
                                                   data-required-msg="Name is mandatory">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="CategoryDescription">Category Description: <span class="mandatory">*</span></label>
                                            <textarea name="txtNewCategoryDescription"
                                                      id="txtNewCategoryDescription"
                                                      class="form-control"
                                                      ng-model="currentCategoryDetails.CategoryDescription"
                                                      required
                                                      data-required-msg="Description is mandatory"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 button-block clearfix">
                            <button type="submit"
                                    class="btn btn-primary pull-right" style="margin-left: 10px !important;">
                                <span class="glyphicon glyphicon-floppy-disk"></span> Save
                            </button>
                            <button type="button"
                                    class="btn btn-primary pull-right"
                                    ng-click="resetPage()">
                                <span class="glyphicon glyphicon-remove"></span> Cancel
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!--<div class="edit-main">
            <div class="page-header">
                <h1>Edit Category</h1>
            </div>
            <div class="panel panel-primary panel-form clearfix">
                <div class="clearfix">
                    <p class="mandatory-fields"><span class="mandatory">*</span> - Indicates a required field</p>
                    <form id="addCategoryForm" novalidate="novalidate" ng-submit="insertCategory()">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="row">

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="Categoryname">Category Name: <span class="mandatory">*</span></label>
                                            <input name="txtNewCategoryName"
                                                   id="txtNewCategoryName"
                                                   type="text"
                                                   class="form-control"
                                                   ng-model="currentCategoryDetails.CategoryName"
                                                   required
                                                   maxlength="100"
                                                   data-required-msg="Name is mandatory">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="CategoryDescription">Category Description: <span class="mandatory">*</span></label>
                                            <textarea name="txtNewCategoryDescription"
                                                      id="txtNewCategoryDescription"
                                                      class="form-control"
                                                      ng-model="currentCategoryDetails.CategoryDescription"
                                                      required
                                                      data-required-msg="Description is mandatory"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 button-block clearfix">
                            <button type="submit"
                                    class="btn btn-primary pull-right" style="margin-left: 10px !important;">
                                <span class="glyphicon glyphicon-floppy-disk"></span> Save
                            </button>
                            <button type="button"
                                    class="btn btn-primary pull-right"
                                    ng-click="resetPage()">
                                <span class="glyphicon glyphicon-remove"></span> Cancel
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>-->
    </div>
</div>
